@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
  text-align: center;
  font-size: 30px;
  font-family:'Quicksand';
}
footer{
  font-family: 'Qicksand';
  font-size: 10px;
  text-align: center;
}