@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
  text-align: center;
  font-size: 30px;
  font-family:'Quicksand';
}
footer{
  font-family: 'Quicksand';
  font-size: 10px;
  text-align: center;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand';
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: black;}
#News {background-color: black;}
#Contact {background-color: black;}
#About {background-color: black;}